# Dependencies
node_modules/
.pnpm-store/

# Production / Build output
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / System
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Data Store & Uploads
uploads/*
!uploads/.gitkeep
server/db/data_store.json
